numpy
six
absl-py
dm_env
dopamine
frozendict
gym
dm-haiku
matplotlib
mock
optax
pandas
plotnine
rlax
scipy
scikit-image
sonnet
tensorflow
tensorflow_probability
termcolor
tqdm
tree
trfl
git+git://github.com/ministry-of-silly-code/experiment_buddy.git
.