numpy==1.17.4
six==1.14.0
absl-py
dm_env==1.4
dopamine==0.7
frozendict==2.0.2
gym==0.18.3
dm-haiku
matplotlib==3.4.2
mock==4.0.3
optax==0.0.8
pandas==1.2.4
plotnine==0.8.0
rlax==0.0.3
scipy==1.6.3
skimage==0.0
sonnet==0.1.6
tensorflow==2.5.0
tensorflow_probability==0.12.2
termcolor==1.1.0
tqdm==4.61.0
tree==0.2.4
trfl==1.1.0
git+git://github.com/ministry-of-silly-code/experiment_buddy.git
