git+git://github.com/ministry-of-silly-code/experiment_buddy.git
numpy
six
absl-py
dm_env
frozendict
gym
dm-haiku
matplotlib
mock
optax
pandas
plotnine
rlax
scipy
scikit-image
termcolor
tqdm
tree
trfl
